name: publish_r_macos

on:
  # Permit calling the workflow from outside (https://github.com/actions/runner/discussions/1884)
  workflow_call:
    inputs:
      dry_publish:
        description: 'Dry publish (no upload)'
        type: boolean
        required: false
        default: true
  # Permit manual trigger
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Manual'
        required: false
        default: ''
      dry_publish:
        description: 'Dry publish (no upload)'
        type: boolean
        required: false
        default: false

env:
  CMAKE_BUILD_TYPE : Release
  BUILD_DIR : build
  SWIG_ROOT : ${{github.workspace}}/swig

jobs:
  build:
    runs-on: ${{matrix.arch.os}}
    outputs:
      # https://docs.github.com/en/actions/using-jobs/defining-outputs-for-jobs
      cran_path: ${{ steps.define_cran_path.outputs.CRAN_PATH }}
    strategy:
      matrix:
        # Last releases from here https://cran.r-project.org/src/base/R-4/
        r_version: [4.2.3, 4.3.3, 4.4.3, 4.5.2]
        arch: [
            {ar: arm64,  os: macos-14, pat: /opt/homebrew},
            {ar: arm64,  os: macos-15, pat: /opt/homebrew},
            {ar: x86_64, os: macos-15-intel, pat: /usr/local},
            {ar: arm64,  os: macos-26, pat: /opt/homebrew},
         ]

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        brew install --formula doxygen
        brew install llvm
        brew install bison
        echo "$(brew --prefix bison)/bin" >> $GITHUB_PATH

    - name: Setup R Version
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: ${{matrix.r_version}}

    - name: Install R dependencies (binary)
      run: Rscript -e "install.packages (c('roxygen2', 'pkgbuild'), type='binary')"

    - name: Install the customized SWIG from source
      uses: fabien-ors/install-swig-unix-action@v1
      with:
        swig-root: ${{env.SWIG_ROOT}}
        generator: "Unix Makefiles"

    - name : Configure build directory
      run : |
        cmake \
          -B${{ env.BUILD_DIR }} \
          -DBUILD_PYTHON=OFF \
          -DBUILD_R=ON \
          -DSWIG_EXECUTABLE=${{env.SWIG_ROOT}}/bin/swig \
          -DBUILD_DOC=ON

    - name : Build the package and save generated file name in the environment
      run : |
        cmake --build ${{env.BUILD_DIR}} --parallel 3 --target r_install
        echo "MY_PKG=$(ls ${{env.BUILD_DIR}}/r/${{env.CMAKE_BUILD_TYPE}}/swigex_*.tgz)" >> "$GITHUB_ENV"

    - name: Define the CRAN path on our server
      id: define_cran_path
      run: |
        PROJECT_VERSION=$(cmake --build ${{env.BUILD_DIR}} --target print_version | grep PROJECT_VERSION | cut -d "=" -f2 | xargs)
        PROJECT_FULL_VERSION=$(cmake --build ${{env.BUILD_DIR}} --target print_version | grep PROJECT_FULL_VERSION | cut -d "=" -f2 | xargs)
        if [ "${PROJECT_VERSION}" == "${PROJECT_FULL_VERSION}" ]; then
          CRAN_PATH=/var/www/html/cran
        else
          CRAN_PATH=/var/www/html/cran/prerelease
        fi
        echo "CRAN_PATH=${CRAN_PATH}" >> "$GITHUB_OUTPUT"

    - name : Always show r_doc log
      if: success() || failure()
      run: |
        cat ${{env.BUILD_DIR}}/r/${{env.CMAKE_BUILD_TYPE}}/create_doc.out

    - uses: actions/upload-artifact@v4
      # Use specific artifact identifier for publishing all versions
      with:
        name: macos-r-package-${{matrix.arch.os}}-${{matrix.r_version}}
        path: ${{env.MY_PKG}}

  test:
    needs: build
    runs-on: ${{matrix.arch.os}}
    strategy:
      matrix:
        # Last releases from here https://cran.r-project.org/src/base/R-4/
        r_version: [4.2.3, 4.3.3, 4.4.3, 4.5.2]
        arch: [
            {ar: arm64,  os: macos-14},
            {ar: arm64,  os: macos-15},
            {ar: x86_64, os: macos-15-intel},
            {ar: arm64,  os: macos-26},
         ]

    steps:
    - uses: actions/checkout@v4

    - uses: actions/download-artifact@v4
      with:
        name: macos-r-package-${{matrix.arch.os}}-${{matrix.r_version}}

    - name: Setup R Version
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: ${{matrix.r_version}}

    - name: Install R package
      run: Rscript -e "install.packages(\"$(ls *.tgz)\", repos=NULL, type='source')"

    - name: Test installed R package
      run: |
        Rscript -e "library('swigex')"
        Rscript tests/r/testFibo.r
        Rscript tests/r/testArgs.r

  publish:
    needs: test
    if: ${{inputs.dry_publish == false}}

    # Only ubuntu can upload via ssh
    runs-on: ubuntu-latest

    steps:
      - env:
          CRAN_PATH: ${{needs.build.outputs.cran_path}}

        # Publish packages to our CRAN
        uses: fabien-ors/cran-publish-action@v4
        with:
          host: ${{secrets.CG_HOST}}
          username: ${{secrets.CG_USR}}
          password: ${{secrets.CG_PWD}}
          repo-path: ${{env.CRAN_PATH}}

        # Delete the artifacts (for freeing storage space under github)
      - uses: geekyeggo/delete-artifact@v5
        with:
          name: macos-r-package-*
